<h1>Stupid Coaching </h1>
<div style="background-color: grey;color: white;padding: 10px;border-left: 7px solid red;margin: 10px">
<h3><%= @question %></h3>
<h3>- You</h3>
</div>
<div style="background-color: #FEFDE1;color: black;padding: 10px;border-left: 7px solid red;margin: 10px">
<h3><%= @response %></h3>
<h3>- Your coach</h3>
</div>

<%= link_to 'New Question ?', 'ask'  %>

