<h1>Stupid Coatching</h1>
<form action="/answer" method="GET">
  <label for="ask">Ash your coach anything</label>
  <input id="ask" type="text" value="" name="question" placeholder="enter question">
  <button type="submit">Ask</button>
</form>

